@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.map {
  width: 80%;
  height: 50rem;
}

.box {
  width: 500px;
  height:500px;
  background-color: red;
}

.nav {
  display: flex;
  justify-content: flex-start;
  height: 4rem;
  margin-bottom: 4em;
  background-color: #ffffff;
}

.nav > img {
  display: flex;
  padding: 0.5em;

}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer{
  min-height: 4rem;
  margin-top: 4em;
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}

.img {
  height: 2em;
  margin-bottom: 0.5em;
}

.text {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #2E2E2E;
}